.container14{
    background: rgb(5,41,43);
    background: linear-gradient(68deg, rgba(5,41,43,1) 0%, rgba(5,11,26,1) 100%);
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}
.container14-heading{
    display: flex;
    flex-direction: row;  
}
.container14-heading-left-icon{
    display: flex;
    font-size: 1.3em;
    font-weight: 500;
}
.container14-heading-left-icon img{
    margin-top: 10px;
    width: 50px;
    height: 50px;
}
.container14-heading-left-details{
    width: 55%;
    color: aliceblue;
}
.container14-heading-right{
    display: flex;
    flex-direction: row;
}
.container14-heading-right a{
    text-decoration: none;
    color:aliceblue;
}
.container14-heading-right-company,
.container14-heading-right-legal,
.container14-heading-right-support
{
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    color: aliceblue;
}
.p14_1{
    color: #00C881;
    font-size: 1.2em;
    font-weight: 500;
}.container14-details{
    color: aliceblue;
    
}
.p-copyright{
    text-align: center;
    color: rgb(167, 167, 167);
}
@media screen and (max-width: 768px) {
    .container14 {
        padding: 3%; /* Adjust padding for smaller screens */
    }

    .container14-heading {
        flex-direction: column; /* Change to column layout for smaller screens */
    }

    .container14-heading-left-details {
        width: 100%; /* Adjust width for full width on smaller screens */
        font-size: .8em;
        margin-top: 20px; /* Adjust margin top for smaller screens */
    }

    .container14-heading-right {
        flex-direction: column; /* Change to column layout for smaller screens */
        margin-top: 20px; /* Adjust margin top for smaller screens */
    }

    .container14-heading-right-company,
    .container14-heading-right-legal,
    .container14-heading-right-support {
        margin-right: 0; /* Reset margin right for smaller screens */
    }

    .container14-details {
        margin-top: 20px; /*Adjust margin top for smaller screens */
        text-align: left; /* Center align text for smaller screens */
        font-size: .8em;
    }
}
