.container4 {
  background-color: black;
}

.text4 {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  width: 85%;
  margin-top: 50px;
}
.heading-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin-left: 150px;
  height: auto;
}
.image_text4 {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.heading4 {
  color: aliceblue;
  height: 10px;
  font-size: 15px;
  width: 80%;
  margin-top: -180px;
}
.space{
  height: 250px;
}

.b4 {
  color: aliceblue;
  font-weight: 700;
  background: rgb(152,110,235);
  background: linear-gradient(90deg, rgba(152,110,235,1) 0%, rgba(253,104,179,1) 35%, rgba(253,183,134,1) 100%);
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
  height: 50px;
  font-size: 20px;
  border: none;
  margin-left: -100px;
}

.t4_1,
.t4_2,
.t4_3 {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.subtext4_1,
.subtext4_2,
.subtext4_3{
  margin-left: 20px;
  color: aliceblue;
}

.subtext4_1 b,
.subtext4_2 b,
.subtext4_3 b {
  color: aliceblue;
  font-size: 1.2em;
  font-weight: 700;
}  
  @media screen and (max-width: 768px) {
    .container4 {
        width:100%;
        height: auto;
        align-items: center;
        justify-content: center;
      }

    .text4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85%;
        
    }
    .heading-button-container{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: left;
        text-align: left;
        width: 86%;
    }
    .heading4 {
        margin-top: 20px; 
        margin-left: -150px;/* Reset margin left */
        font-size: 12.3px; 
        width: 100%; 
        text-align: left;  
    }
    .space{
      height: 0%;
    }

    .b4 {
        margin-top: 220px; /* Adjust margin for smaller screens */
        margin-left: -100px; /* Reset margin left */
        height: 40px;
        width: 300px; /* Adjust button width for smaller screens */
        font-size: 18px;
    }

    .image_text4 {
        margin-top: 0px; /* Adjust margin for smaller screens */
        font-size: .5em;
        margin-right: 0px;
        width: 95%;
        padding: 10px;  

    }
    .img4_1_1 img,
    .img4_1_2 img,
    .img4_1_3 img{
      height: 40px;
      width: 30px;
      margin-top: 15px;
    }
    .subtext4_1,
    .subtext4_2,
    .subtext4_3 {
        text-align: left; /* Center align text for smaller screens */
        margin-left: 15px; /* Reset margin left */
        margin-top: 15px; /* Adjust margin top for smaller screens */
        font-size: 1.7em;
    }

    .subtext4_1 p,
    .subtext4_2 p,
    .subtext4_3 p {
        margin-left: 0; /* Reset margin left */
    }
    .subtext4_1 b,
    .subtext4_2 b,
    .subtext4_3 b {
        margin-left: 0; /* Reset margin left */
    } 
    .t4_2,
    .t4_3{
      margin-top: 0px;
    }   
 }  

