.section13-container13{
    width: 100%;
    background-color: #1C1929;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}
.section13-divisions{
    width: 81%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.section13-divisions-heading{
    margin-top: 30px;
    text-align: left;
    color: aliceblue;
    font-size: 40px;
    font-weight: 700;
}
.section13-divisions-subheading{
    margin-top: 20px;
    text-align: left;
    color: rgb(198, 199, 200);
    font-size: 18px;
    font-weight: 400;
}
.section13-divisions-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.section13-divisions-details-core,
.section13-divisions-details-QnA,
.section13-divisions-details-active{
    display: flex;
    flex-direction: column;
    width: 27%;
}
.section13-divisions-details-core-heading{
    font-size: 25px;
    color: aliceblue;
    font-weight: 600;
    margin-top: 30px;
}
.section13-divisions-details-core-detail{
    font-size: 14px;
    color: #BDBDBD;
    font-weight: 400;
    margin-top: 20px;
}
.section13-divisions-details-core-div1,
.section13-divisions-details-core-div2,
.section13-divisions-details-QnA-div1,
.section13-divisions-details-active-div1{
    background: linear-gradient(90deg, #82D0F2 3%, #221D32 3%);
    border-radius: 5px;
    width: 95%;
    height: 35px;
    text-align: center;
    margin-top: 20px;
    color: aliceblue;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
}
.section13-divisions-details-QnA-div1{
    background: linear-gradient(90deg, #EE9C6D 3%, #221D32 3%);
}
.section13-divisions-details-QnA,
.section13-divisions-details-active{
    margin-top: -60px;
}
.section13-divisions-details-active-div1{
    background: linear-gradient(90deg, #ffffff 3%, #221D32 3%);
}

@media only screen and (max-width: 768px){
    .section13-container13{
        width: 100%;
    }
    .section13-divisions{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .section13-divisions-heading{
        font-size: 35px;
    }
    .section13-divisions-subheading{
        font-size: 18px;
    }
    .section13-divisions-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .section13-divisions-details-core,
    .section13-divisions-details-QnA,
    .section13-divisions-details-active{
       width: 100%;   
       margin-top: 20px;     
    }
    
}
