.section3-container3{
    background-color: #171421;
}
.container3-divisions3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divisions3-heading{
    font-size: 40px;
    color: aliceblue;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 20px;
}
.divisions3-boxes-and-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.divisions3-boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.divisions3-boxes-box1,
.divisions3-boxes-box2,
.divisions3-boxes-box3,
.divisions3-boxes-box4,
.divisions3-boxes-box5
{
    border:solid 1px #504f51;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    text-align: left;
    width: 380px;
    height: 55px;
    border-radius: 8px;
    margin-top: 5px;
}
.divisions3-images img{
    width: 500px;
    margin-left: 200px;
    height: 410px;
    border-radius: 20px;
   
}
.division3-gradient-line{
    background: hsla(0, 0%, 10%, 1);

    background: linear-gradient(0deg, hsla(0, 0%, 10%, 1) 0%, hsla(0, 0%, 85%, 1) 100%);

    background: -moz-linear-gradient(0deg, hsla(0, 0%, 10%, 1) 0%, hsla(0, 0%, 85%, 1) 100%);

    background: -webkit-linear-gradient(225deg, hsla(0, 0%, 10%, 1) 0%, hsla(0, 0%, 85%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#191919", endColorstr="#D9D9D9", GradientType=1 );

    width: 2px;

    height: 100px;

    margin-top: 100px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .section3-container3{
        width: 100%;
    }
    .divisions3-images{
        display: none;
    }
    .divisions3-boxes{
        width:100%
    }
    .divisions3-boxes-box1,
    .divisions3-boxes-box2,
    .divisions3-boxes-box3,
    .divisions3-boxes-box4,
    .divisions3-boxes-box5{
         width: 95%;
    }
}